<html>
  <head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/style.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<style>
 
 .button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   }
 
   .button2 {background-color: #008CBA;} /* Blue */
   .button3 {background-color: #f44336;} /* Red */ 
   .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
   .button5 {background-color: #555555;} /* Black */
 
 </style>

</head>
<div class="main-wrapper">
  <div class="section left-side col-xs-1" style="background: grey;">
    <div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px">
      <a href="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
      <a href="/search/" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a> 
      </div>
  </div>
 

  <div class="section left-side col-xs-3" style="background: grey;">
    <h2 class="w3-bar text-center w3-black font-weight-bold">Provisioned</h2>
    <div  style=" width:100%; overflow:auto; height:50% ;overflow:auto; ">
     
      {% for entry in comission%}
     
        {% if entry.state == "provisioned" %}
            <a class="{{'col-sm-12 w3-button w3-bar-item active-tab' if entry.id == active_id  else 'col-sm-12 w3-button w3-bar-item '}}" href="/commision/{{ entry.id }}" >
       
          <div class="col-sm-9 float-start"> 
             <p class="w3-bar-item w3-button " style="width:100%; font-size: 120%;"><b>{{ entry.systemID}}</b></p>
         </div>
          <div class="col-sm-3 float-end">
            {% if entry.state == "provisioned" %}
                <div  style="  margin-top: 12%">
                  <span class="dot " style=" background-color: rgb(238, 255, 0);"></span>
                </div>
            {% elif entry.state == "registered" %}
                <div  style="  margin-top: 12%">
                  <span class="dot " style=" background-color: rgb(248, 0, 0);"></span>
                </div>

            {% elif entry.state == "commissioned" %}
                <div  style="  margin-top: 12%">
                  <span class="dot " style=" background-color: rgb(0, 246, 57);"></span>
                </div>
            {% else %}
                <div  style="  margin-top: 12%">
                  <span class="dot " style=" background-color: rgb(0, 0, 0);"></span>
                </div>
              
            {% endif %}
          
           </div>
        {% endif %}
           
      </a>
      </br>
      
        

    {% endfor %}
      <!-- <a href="#" class="w3-bar-item w3-button" style="width:100%; ">Link 1</a> -->
      <!-- <span class='bi bi-circle-fill' style='color: red'></span> -->
      <!-- <h2>One fine heading dot: <span class="glyphicon one-fine-dot" style="color: rgb(255, 0, 0);"></span></h2> -->
    
      <br>
      <!-- <a href="#" class="w3-bar-item w3-button" style="width:100%; ">Link 2</a><br>
      <a href="#" class="w3-bar-item w3-button" style="width:100%; ">Link 3</a><br> -->
    
    </div>


<!--   Part of commission  -->
    <h2 class="w3-bar text-center w3-black font-weight-bold">Commissioned</h2>
    <div  style=" width:100%; overflow:auto; height:50% ;overflow:auto; ">
    
        {% for entry in comission%}
           {% if entry.state == "commissioned" %}
               <a class="{{'col-sm-12 w3-button w3-bar-item active-tab' if entry.id == active_id  else 'col-sm-12 w3-button w3-bar-item '}}" href="/commision/{{ entry.id }}" >
              <div class="col-sm-9 float-start"> 

                  <p class="w3-bar-item w3-button" style="width:100%; font-size: 120%;"><b>{{ entry.systemID}}</b></p>
              
              
              </div>
        
            <div class="col-sm-3 float-end">
              {% if entry.state == "provisioned" %}
                  <div  style="  margin-top: 12%">
                    <span class="dot " style=" background-color: rgb(238, 255, 0);"></span>
                  </div>
              {% elif entry.state == "registered" %}
                  <div  style="  margin-top: 12%">
                    <span class="dot " style=" background-color: rgb(248, 0, 0);"></span>
                  </div>

              {% elif entry.state == "commissioned" %}
                  <div  style="  margin-top: 12%">
                    <span class="dot " style=" background-color: rgb(0, 246, 57);"></span>
                  </div>
              {% else %}
                  <div  style="  margin-top: 12%">
                    <span class="dot " style=" background-color: rgb(0, 0, 0);"></span>
                  </div>
                
              {% endif %}
            
            </div>
          </a>
          </br>
          
        
          {% endif %}
        {% endfor %}
          <!-- <a href="#" class="w3-bar-item w3-button" style="width:100%; ">Link 1</a> -->
          <!-- <span class='bi bi-circle-fill' style='color: red'></span> -->
          <!-- <h2>One fine heading dot: <span class="glyphicon one-fine-dot" style="color: rgb(255, 0, 0);"></span></h2> -->

          <br>
          <!-- <a href="#" class="w3-bar-item w3-button" style="width:100%; ">Link 2</a><br>
          <a href="#" class="w3-bar-item w3-button" style="width:100%; ">Link 3</a><br> -->

      </div>

  </div>
  <div class="section right col-xs-8">

      <div style="overflow:auto; width:100%; height: 100%;">
       <div class="w3-container w3-teal " style="height: 10%;"> 
       <div class="row mt-5" >
          <div class="col-md-6 text-left">
            <h1 >Provisioned</h1>
          </div>
          <div class="col-md-6 text-right mt-5" >
            <a href="/provision/edit/{{ active_id }}">  <button class="button ">edit</button></a>
              {% if selected_comission[0].systemInfo.state == "registered" %}
                <a href="/provision/{{ active_id }}"> <button class="button ">provisioned system​</button></a>
              {% elif selected_comission[0].systemInfo.state == "provisioned" %}
                <button class="button" data-toggle="modal" data-target="#myModal" >commissioned system​</button>
               
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-left text-dark" style="color:black ;">Confirmation</h4>
                      </div>
                      <div class="modal-body text-left text-dark">
                        <p class="text-black" style="color:black ;">Mark system as commissioned?</p>
                      </div>
                      <div class="modal-footer">
                        <a href="/comissioned/{{ active_id }}"> <button class="button ">ok</button></a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              {% endif %}
          </div>
      </div>
    </div>
      <!-- Info System of the table-->
        <div class="container">
          <h2 class="white-color-text ">System Info</h2>
          
          <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
          <table class="table table-bordered text-white">
            <!-- <thead>
              <tr>
                <th class="text-white">Firstname</th>
                <th>Lastname</th>
              
              </tr>
            </thead> -->
            <tbody>
              <tr>
                <td>system id</td>
                <td>{{selected_comission[0].systemInfo.systemID}}</td>
              
              </tr>
              <tr>
                {% if selected_comission[0].systemInfo.state  == "provisioned" %}
                  <td>provisioned date</td>
                  <td>{{selected_comission[0].systemInfo.commissionedDate }}</td>
                {% elif selected_comission[0].systemInfo.state  == "commissioned" %}
                  <td>commissioned date</td>
                  <td>{{selected_comission[0].systemInfo.commissionedDate }} </td>
                {% endif %}

              </tr>
              <tr>
                <td>system SN</td>
              <td>   <a href="/commission/system/{{ selected_comission[0].systemInfo.systemSerialNumber }}">{{selected_comission[0].systemInfo.systemSerialNumber }}</a> </td> 
              
              </tr>
              <tr>
                <td>state</td>
                <td>{{selected_comission[0].systemInfo.state }}</td>
              
              </tr>
              <tr>
                <td> calibration object SN</td>
                <td>{{selected_comission[0].systemInfo.calibObjectSerialNumber }}</td>
              
              </tr>
              <tr>
                <td> number of cameras</td>
                <td>{{selected_comission[0].systemInfo.configuration.numberOfCameras }}</td>
              
              </tr>
              <tr>
                <td> zone size</td>
                <td>{{selected_comission[0].systemInfo.configuration.zoneSize }}</td>
              
              </tr>
              <tr>
                <td> imageTag</td>
                <td>{{selected_comission[0].systemInfo.imageTag }}</td>
              
              </tr>
              <tr>
                <td> oiml</td>
                <td>{{selected_comission[0].systemInfo.oiml }}</td>
              
              </tr>
              <tr>
                <td> last calibaration date</td>
                <td>{{selected_comission[0].systemInfo.lastcalibartiondate }}</td>
              
              </tr>
            </tbody>
          </table>
        </div>

<!-- Info System of the table-->
          <div class="container">
            <h2 class="white-color-text ">Customer Info</h2>
            <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
            <table class="table table-bordered text-white">
              <!-- <thead>
                <tr>
                  <th class="text-white">Firstname</th>
                  <th>Lastname</th>
                
                </tr>
              </thead> -->
              <tbody>
                <tr>
                  <td>customer name</td>
                  <td>{{selected_comission[0].customerInfo.name }}</td>
                
                </tr>
                <tr>
                  <td>country</td>
                  <td>{{selected_comission[0].customerInfo.country }}</td>
                
                </tr>
                <tr>
                  <td>site</td>
                  <td>{{selected_comission[0].customerInfo.site }}</td>
                
                </tr>
                <tr>
                  <td> installation location</td>
                  <td>{{selected_comission[0].customerInfo.installationLocation }}</td>
                
                </tr>
                
              </tbody>
            </table>
          </div>
      

 <!-- Info System of the table-->
          <div class="container">
            <h2 class="white-color-text ">Network Info</h2>
            <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
            <table class="table table-bordered text-white">
              <!-- <thead>
                <tr>
                  <th class="text-white">Firstname</th>
                  <th>Lastname</th>
                
                </tr>
              </thead> -->
              <tbody>
                <tr>
                  <td>assigned public IP</td>
                  <td>{{selected_comission[0].networkInfo.addresses}}</td>
                
                </tr>
                <tr>
                  <td>subnet mask</td>
                  <td>{{selected_comission[0].networkInfo.address }}</td>
                
                </tr>
                <tr>
                  <td>gateway</td>
                  <td>{{selected_comission[0].networkInfo.gateway4 }}</td>
                
                </tr>
                <tr>
                  <td>routes</td>
                  <td>{{selected_comission[0].networkInfo.routes }}</td>
                
                </tr>
              
                
              </tbody>
            </table>
          </div>
      

<!-- Access Information -->

      <div class="container">
        <h2 class="white-color-text ">UI Access Info</h2>
        <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
        <table class="table table-bordered text-white">
          <!-- <thead>
            <tr>
              <th class="text-white">Firstname</th>
              <th>Lastname</th>
            
            </tr>
          </thead> -->
          <tbody>
            {% if selected_comission[0].uiAccessInfo %}
                <tr>
                  <td>UserName</td>
                  <td>{{selected_comission[0].uiAccessInfo.userName  }}</td>
                
                </tr>
                <tr>
                  <td>Password</td>
                  <td>{{selected_comission[0].uiAccessInfo.password   }}</td>
                
                </tr>
                <tr>
                  <td>APi auth Key</td>
                  <td>{{selected_comission[0].uiAccessInfo.apiauthkey}}</td>
                
                </tr>
              {% endif %} 
            </tbody>
        </table>
      </div>

<!-- Remote access  -->
      <div class="container">
        <h2 class="white-color-text ">Remote Access</h2>
        <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
        <table class="table table-bordered text-white">
          <!-- <thead>
            <tr>
              <th class="text-white">Firstname</th>
              <th>Lastname</th>
            
            </tr>
          </thead> -->
          <tbody>
            {% if selected_comission[0].remoteAccess %}
                <tr>
                  <td> Vpn </td>
                  <td>
                  {% if selected_comission[0].remoteAccess %}
                      <table border="2" bordercolor="white" style=" width:100%;">
                        {% if selected_comission[0].remoteAccess.vpn %}
                          <tbody >
                            <td>
                              <tr> 
                                <td>Login</td>
                                <td>{{selected_comission[0].remoteAccess.vpn.login }}</td>
                              </tr>
                              <tr> 
                                <td>Password</td>
                                <td>{{selected_comission[0].remoteAccess.vpn.password }}</td>
                              </tr>
                              <tr> 
                                <td>Otp Method</td>
                                <td>{{selected_comission[0].remoteAccess.vpn.vpnotpmethod }}</td>
                              </tr>
                              <tr> 
                                <td>Any Other Remark</td>
                                <td>{{selected_comission[0].remoteAccess.vpn.vpnanyotherremark }}</td>
                              </tr>
                            </td>
                        </tbody>
                        {% endif %} 
                      </table>
                    {% endif %} 
                  </td>
                </tr>
                
                <td>Zoho</td>
                  <td>
                    <table border="2" bordercolor="white" style=" width:100%;">
                      {% if selected_comission[0].remoteAccess.zoho %}
                      <tbody>
                        <tr>
                          <td>Device Name</td>
                          <td>{{selected_comission[0].remoteAccess.zoho.devicename }}</td>
                        
                        </tr>
                        <tr>
                          <td>Account</td>
                          <td>{{selected_comission[0].remoteAccess.zoho.account }}</td>
                        
                        </tr>
                      </tbody>
                      {% endif %} 
                    </table>
                  </td>
                
                </tr>
                
              {% endif %} 
            </tbody>
        </table>
      </div>
<!-- IoT Info -->
      <div class="container">
        <h2 class="white-color-text ">IoT Info (if applicable)</h2>
        <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
        <table class="table table-bordered text-white">
          <tbody>
            {% if selected_comission[0].iotHub %}
                <tr>
                  <td>Assigned Hub</td>
                  <td>{{selected_comission[0].iotHub.assignedHub  }}</td>
                
                </tr>
                <tr>
                  <td>Scope ID</td>
                  <td>{{selected_comission[0].iotHub.scopeID   }}</td>
                
                </tr>
                <tr>
                  <td>DeviceName</td>
                  <td>{{selected_comission[0].iotHub.deviceName}}</td>
                
                </tr>
                <tr>
                  <td>Iot Edge Deployment</td>
                  <td>{{selected_comission[0].iotHub.iotedgedeployment}}</td>
                
                </tr>
              {% endif %} 
            </tbody>
        </table>
      </div>

      <div class="container">
        <h2 class="white-color-text ">Change Logs</h2>
        <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
        <table class="table table-bordered text-white">
          <tbody>
            {% if selected_comission[0].changeLogs %}
                {% for entry in selected_comission[0].changeLogs %}
                    <tr>
                      <td>{{entry.date}}</td>
                      <td>{{entry.details  }}</td>
                     
                         <td>{{entry.remarks  }}</td>
                  
                    </tr>
                {% endfor %}
               
              {% endif %} 
            </tbody>
        </table>
      </div>

      <div class="container">
        <h2 class="white-color-text ">Solutioning Documents</h2>
        <!-- <p>The .table-bordered class adds borders to a table:</p>             -->
        <table class="table table-bordered text-white">
          <tbody>
           
            {% if selected_comission[0].solutioning_url %}
              {% for entry in selected_comission[0].solutioning_url%}
                    <tr>
                      <td> <a href="{{ entry[1] }}">  {{ entry[0] }}</a></td>
                    
                    </tr>
              {% endfor %}
            {% endif %} 
             
            </tbody>
        </table>
      </div>

      </div>


      

      <div class="w3-container">
      <p>speedcargo</p>
      </div>
      
    
  </div>
</div>


</html>